.logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  margin-bottom: -50px;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid #1976d2;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 540px) {
  .logo {
    width: 250px;
    margin-bottom: -20px;
  }
}
